<html ng-app="jokenpo" ng-cloak>
<head>
    <title>#13 - Jokenpo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-controller="jokenpoCtrl" class="text-center">
    <div class="container">
        <h1 class="text-center">Jokenpo</h1>
        <div class="row">
            <div class="col-xs-6">
                <img ng-src="{{yourHands}}">
                <div class="options-btn" role="group">
                        <button type="button" class="btn btn-primary" ng-click="clickRock()">Rock</button>
                        <button type="button" class="btn btn-primary" ng-click="clickPaper()">Paper</button>
                        <button type="button" class="btn btn-primary" ng-click="clickScissors()">Scissors</button>
                </div>
            </div>
            <div class="col-xs-6 pc-ph">
                <img ng-src="{{pcHands}}">
            </div>
        </div>
        <div class="row">
            <div class="text-message-ph">
                <p class="text-message">{{message}}</p>
            </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="app.js"></script>
</body>
</html>
