[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
    font-family: 'Bangers', cursive;
    background-color: #9be9ce;
    color: #2f463e;
    letter-spacing: 3px;
}

h1 { font-size: 4em; }

@media screen and (min-width: 768px) {
    img {
        max-height: 100%;
        max-width: 100%;
        padding: 5em 0;
    }
    .text-message {
        margin-top: 2em;
        font-size: 3em;
    }
}
@media screen and (max-width: 768px) {
    img {
        max-height: 50%;
        max-width: 50%;
        padding: 3em 0;
    }
    .text-message {
        margin-top: 1em;
        font-size: 3em;
    }
}
@media screen and (max-width: 460px) {
    .options-btn {
        display: block !important;
    }
}

.options-btn > .btn {
    margin-bottom: 5px;
    font-family: sans-serif;
    border-radius: 0;
    outline: none;
    border-color: #4c5754;
    background-color: #4c5754;
}

.btn:active:focus, .btn:focus {
    outline-color: green;
}
